apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system

---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-rwx
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Delete
volumeBindingMode: Immediate
parameters:
  backupTargetName: default
  dataEngine: v1
  dataLocality: disabled
  disableRevisionCounter: "true"
  fromBackup: ""
  fsType: ext4
  migratable: "false" # Must be false for standard shared RWX filesystems
  numberOfReplicas: {{ longhorn_default_volume_replica_count | string | to_yaml | trim }}
  staleReplicaTimeout: "30"
  unmapMarkSnapChainRemoved: ignored

---

{% if longhorn_ingress_enabled %}

apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: add-trailing-slash-longhorn-ui
  namespace: longhorn-system
spec:
  redirectRegex:
    # Matches the exact path and captures any query strings
    regex: {{ ('^(.*)' + longhorn_ingress_path + '$') | to_yaml | trim }}
    # Redirects to longhorn_ingress_path plus a trailing slash, preserving the query strings
    replacement: {{ ('${1}' + longhorn_ingress_path + '/') | to_yaml | trim }}
    permanent: false

---

apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-prefix-longhorn-ui
  namespace: longhorn-system
spec:
  stripPrefix:
    prefixes:
      - {{ longhorn_ingress_path | to_yaml | trim }}

---

apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: basic-auth-longhorn-ui
  namespace: longhorn-system
spec:
  basicAuth:
    secret: longhorn-dashboard-users
    removeHeader: true

---

apiVersion: v1
kind: Secret
metadata:
  name: longhorn-dashboard-users
  namespace: longhorn-system
type: Opaque
stringData:
  auth: {{ longhorn_htpasswd_result.stdout | to_yaml | trim }}

{% endif %} {# longhorn_ingress_enabled #}
