apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - multus-cni-{{ multus_cni_version | regex_replace("^v", "") }}/deployments/multus-daemonset.yml
patches:
  - target:
      kind: ConfigMap
      name: multus-cni-config
    patch: |-
      - op: replace
        path: /data/cni-conf.json
        value: |
          {
            "name": "multus-cni-network",
            "type": "multus",
            "capabilities": {
              "portMappings": true
            },
            "delegates": [
              {
                "cniVersion": "{{ multus_cni_protocol_version }}",
                "name": "default-cni-network",
                "plugins": [
                  {
                    "type": "flannel",
                    "name": "flannel.1",
                      "delegate": {
                        "isDefaultGateway": true,
                        "hairpinMode": true
                      }
                    },
                    {
                      "type": "portmap",
                      "capabilities": {
                        "portMappings": true
                      }
                    }
                ]
              }
            ],
            "kubeconfig": "{{ k3s_cni_net_dir }}/multus.d/multus.kubeconfig"
          }
  - target:
      kind: DaemonSet
      name: kube-multus-ds
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args
        value:
          - "--multus-conf-file=auto"
          - "--cni-version={{ multus_cni_protocol_version }}"
          - "--multus-kubeconfig-file-host={{ k3s_cni_net_dir }}/multus.d/multus.kubeconfig"
  - target:
      kind: DaemonSet
      name: kube-multus-ds
    patch: |-
      - op: replace
        path: /spec/template/spec/volumes/0/hostPath/path
        value: {{ k3s_cni_net_dir }}
  - target:
      kind: DaemonSet
      name: kube-multus-ds
    patch: |-
      - op: replace
        path: /spec/template/spec/volumes/1/hostPath/path
        value: {{ k3s_cni_bin_dir }}
