apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: add-trailing-slash-headlamp
  namespace: kube-system
spec:
  redirectRegex:
    # Matches the exact path and captures any query strings
    regex: {{ ('^(.*)' + headlamp_ingress_path + '$') | to_yaml | trim }}
    # Redirects to headlamp_ingress_path plus a trailing slash, preserving the query strings
    replacement: {{ ('${1}' + headlamp_ingress_path + '/') | to_yaml | trim }}
    permanent: false
